
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/back1.png');
  background-size: cover; /* La imagen cubrirá todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en la pantalla */
  
}

